body
    overflow-x: hidden
    margin: 0
    padding: 0
    width: 100%
    background: #001216
nav
    z-index: 1
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100px
    padding: 10px 100px
    box-sizing: border-box
    transition: .5s
nav.dark
    background: rgba(0, 0, 0, .8)
    height: 80px
    padding: 10px 50px
nav .logo
    float: left
nav .logo img
    height: 70px
    transition: .5s
nav.black .logo img
    height: 60px

nav ul 
    float: right
    margin: 0
    padding: 0
    display: flex

nav ul li a
    list-style: 80px
    color: white
    padding: 5px 20px 
    text-decoration: none
    text-transform: uppercase
    transition: .5s
nav.black ul li a
    color: white
    line-height: 60px

nav ul li a.active,
nav ul li a:hover

    color: white
    background: #D00D01


h1, h2, h3
    color: white
    font-family: 'Ultra', serif

p, li, a 
    font-family: 'Roboto', sans-serif
p
    font-size: 25px
    color: white
    

.bg
    background: url("../img/mohammad-hoseini-rad-1165798-unsplash.jpg") center center no-repeat
    background-size: cover
    width: 100%
 

.banner
    height: 1442px
    width: 100%

.activities
    padding-top: 100px

.act-img
    padding-bottom: 30px
    
.buttons 
    margin: 10%
    text-align: center


.btn-hover 
    margin-top: 12%
    width: 200px
    font-size: 16px
    font-weight: 600
    color: #fff
    cursor: pointer
    margin: 20px
    height: 55px
    text-align:center
    border: none
    background-size: 300% 100%

    border-radius: 50px
    moz-transition: all .4s ease-in-out
    -o-transition: all .4s ease-in-out
    -webkit-transition: all .4s ease-in-out
    transition: all .4s ease-in-out

.btn-hover:hover 
    background-position: 100% 0
    moz-transition: all .4s ease-in-out
    -o-transition: all .4s ease-in-out
    -webkit-transition: all .4s ease-in-out
    transition: all .4s ease-in-out


.btn-hover:focus 
    outline: none


.btn-hover.color-9 
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed)
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75)

.btn-hover.color-4 
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516)
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75)


.main
    height: 3100px
    background-color: #001216

.sponsors
    margin-top: 150px
    padding: 20px 
    background-color: #212530
    color: white
    width: 100%
    height: 400px
    overflow-x: hidden

.sponsor-logo
    height: 200px
.descr
    padding-top: 110px 
    color: white
.schedule
    padding-top: 150px
    height: 1440px
    background-color: #001216

    
.community
    padding-top: 100px
    background: url("../img/kobby-mendez-1395516-unsplash.jpg") top center no-repeat
    background-size: cover

.btn-hover.color-8 
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376)
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75)

.googlemaps
    width: 100%
    height: 400px
    padding-top: 100px

.contact

    position: relative
    z-index: 1 
    width: 300px
    margin: 60px auto 0
    padding: 10px
    background: black
    height: auto
    opacity: .45 
    color: white
#thanks
    padding-top: 280px
.sponsorship
 
    background: url('../img/fonsi-fernandez-420906-unsplash.jpg')
    background-size: cover
    height: 700px
    padding-top: 250px
    padding-bottom: 250px
 

footer
    height: 400px
    background: #001216
a:hover
    color: white
    
a 
    color: white
    text-decoration: none
.footerlinks
    margin-left: 36%

 










    








    